<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Fullcalendar/fullcalendar.min.css" rel="stylesheet" media="print" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Fullcalendar/lib/moment.min.js"></script>
    <script src="~/Fullcalendar/lib/jquery.min.js"></script>
    <script src="~/Fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src='~/Fullcalendar/lang/nb.js'></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <script type="text/javascript">
        $(document).ready(function () {
            HentAntallMeldinger();
            
        });  
        function HentAntallMeldinger() {
            $.ajax({
                url: '/api/BrukerApi',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    VisAntall(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function VisAntall(meldinger) {
            $('#antallInnboks').html(meldinger);
            $('#antallInnboks2').html(meldinger);
        }

       
       


    </script>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

               <!--@Html.ActionLink("Jobbplan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   <li>@Html.ActionLink("Kalender", "Index", "Vakt", new { area = "" }, new { @class = "navbar-brand" })</li>
                   <li>@Html.ActionLink("Jobb", "Index", "Prosjekt", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="elementerInav">@{Html.RenderAction("LoggetInn", "Bruker");}<span class="badge alert-info" id="antallInnboks" style=""></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Body">
        <div class="container body-content">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - JobbPlan</p>
            </footer>
        </div>
    </div>

  
</body>
</html>