@if (ViewBag.Innlogget == true)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>@ViewData["brukerpå"] <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Min profil", "MinProfil", "Konto")</li>
            <li>@Html.ActionLink("Inboks", "Meldingsboks", "Prosjekt")</li>
            <li>@Html.ActionLink("Timeliste", "Index", "Timeliste")</li>
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Logg ut", "Loggut", "Bruker")</li>
        </ul>
    </li>
}



